@font-face {
    font-family: 'geometria_light';
    src: url('../font/Geometria-Light-webfont.eot');
    src: url('../font/Geometria-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Geometria-Light-webfont.woff2') format('woff2'),
         url('../font/Geometria-Light-webfont.woff') format('woff'),
         url('../font/Geometria-Light-webfont.ttf') format('truetype'),
         url('../font/Geometria-Light-webfont.svg#geometria_lightlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@mixin transition ($transition){
    transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
}

// Standard CSS components
html {
    position: relative;
    min-height: 100%;
    width: 100%;
}

body{
    margin-bottom: 220px;
}

.mobile-only{
    display: none;
}
.desktop-only{
    display: inline-block;
}

@media (min-width: 900px){
    .container-fluid{
        padding-left: 40px;
        padding-right: 40px;
    }
}
@media (max-width: 900px){
    .row{
        margin: 0;
    }
    .mobile-only{
        display: block;
    }
    .desktop-only{
        display: none;
    }
}
// Colour Variables
$white: #FFFFFF;
$black: #000000;
$darkGrey: #616161;
$Grey: #BDBDBD;
$lightGrey: #F5F5F5;

$headerFooterColour: #90A4AE;
$mainBackgroundColour: $lightGrey;
$OpenSans: 'Open Sans', sans-serif;
$GeometriaLight: 'geometria_light', $OpenSans;


header{
    background-color: $headerFooterColour;
    padding-bottom: 40px;
    div.header-row{
        padding-top: 10px;
        h1{
            font-family: $GeometriaLight;
            text-align: center;
            font-size: 7rem;
            margin-top: 0;
            @media (max-width:900px){
                font-size: 4rem;
            }
        }
    }    
} 
p{
    font-size: 2rem;
    font-family: $GeometriaLight;
}

img.img-responsive{
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}

section.all-content{
    background-color: $mainBackgroundColour;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    .row{
        width: 100%;
    }
    p{
        text-align: left;
        font-family: $OpenSans;
    }
    h2{
        font-family: $OpenSans;
        font-size: 3.5rem;
        @media(max-width:900px){
            font-size: 3rem;
        }
    }
    a.button{
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 20px 40px 20px 40px;
        border: 1px solid $black;
        display: inline-block;
        border-radius: 4px;
        font-size: 2.5rem;
        font-family: $OpenSans;
        color: $black;
        text-decoration: none;
        @include transition(all 0.5s ease);
        cursor: pointer;
        &:hover{
            background-color: $darkGrey;
            color: $white;
        }
    }
    img.img-responsive{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

footer{
    font-family: $OpenSans;
    padding-top: 30px;
    padding-bottom: 30px;
    color: $black;
    text-align: center;
    background-color: $headerFooterColour;
    height: 220px;
    position: absolute;
    bottom: 0;
    width: 100%;
    p{
        margin-bottom: 0;
    }
    a{
        @include transition(all 0.25s ease);
        color: $black;
        &:hover{
            color: $darkGrey;
        }
    }
    a.ext{
        font-weight: bold;
        font-family: $GeometriaLight;
        font-size: 20px;
        text-decoration: none;
        &:hover{
            color: $darkGrey;
        }
    }
}
